albumentations
botorch
Cython
gluoncv
jupyter
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
jupyterlab
matplotlib
mxnet
numpy
opencv-python
pandas
pylint
scikit-image
scikit-learn
tensorboardX
tensorflow
thop
torch
torchsummary
torchvision
tqdm
yapf
