albumentations
beautifulsoup4
Cython
gluoncv
jupyterlab
matplotlib
mxnet
numpy
opencv-python
pandas
pylint
pytest
rope
scikit-image
scikit-learn
tensorboardX
tensorflow
thop
torch
torchsummary
torchvision
tqdm
yapf