albumentations
beautifulsoup4
Cython
gluoncv
matplotlib
mxnet
notebook
numpy
opencv-python
pandas
pylint
pytest
rope
scikit-image
scikit-learn
tensorboardX
tensorflow
thop
torch
torchsummary
torchvision
tqdm
yapf